body {
font-family: Arial;
text-align:center;
background:#222;
color:#fff;
}

#field {
width:300px;
height:300px;
background:#333;
margin:20px auto;
position:relative;
border-radius:10px;
}

#target {
width:40px;
height:40px;
background:red;
border-radius:50%;
position:absolute;
cursor:pointer;
}
